*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}
a {
  color: white;
}

/*//TOP HERO SPLASH//*/
.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 635px;
  position: relative;
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 86px;
  left: 550px;
}
.navbar a{
  margin-left: 20px;
}

.logo {
  position: absolute;
  top: 86px;
  left: 200px;
}

.title {
  position: absolute;
  top: 172px;
  left: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-wrap {
  background-image: url("../img/info.jpg");
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 80px;
  margin-top: 2px;
  margin-bottom: 2px;


}
.info {
  display: flex;
  justify-content: space-around;
}

.info a {
  margin-top: 34px;
}


/*IMAGE GALLERY*/
.gallery {
  height: 800px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
}

.panel {
  height: 400px;
  flex: auto;
  background-size: cover;
  background-position: center;
  position: relative;

}
.raft{
  background-image: url("../img/raft.jpg");
  flex-basis: 50%;
}
.base {
  background-image: url("../img/base.jpg");
  flex-basis: 25%;
}
.backpacking {
  background-image: url("../img/backpacking.jpg");
  flex-basis: 25%;
}
.canoe {
  background-image: url("../img/canoe.jpg");
  flex-basis: 25%;
}
.photo {
  background-image: url("../img/photo.jpg");
  flex-basis: 25%;
}
.custom {
  background-image: url("../img/custom.jpg");
  flex-basis: 50%;
}

.orange-border {
  position: absolute;
  top: 300px;
  left: 25px;
  background: #dc7725;
  height: 5px;
  width: 40px;
  margin-bottom: 15px;
}
h3 {
  position: absolute;
  top: 300px;
  left: 25px;
}
.panel img {
  position: absolute;
  top: 150px;
  left: 125px;
}
.panel .bigger {
  position: absolute;
  top: 150px;
  left: 275px;
}
