*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: orange;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 8.5em;
  margin: 0;
  padding: 0;
  margin-top: -50px;
  border-bottom: 4px solid white;
}

/*LARGE SCREEN*/
@media only screen and (min-width: 950px){
/*//TOP HERO SPLASH//*/

  .hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 635px;
    position: relative;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
  }

  .navbar a {
      padding: 10px 25px;
      font-size: 15px;
      letter-spacing: 0.2em;
  }

  .logo {
    position: absolute;
    top: 60px;
    left: 80px;
    font-family: 'Source Serif Pro', serif;
    display: flex;
    justify-content: flex-start;
  }

  .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }

  .title h5 {
    letter-spacing: 0.3em;
    font-size: 1.3em;
    font-weight: lighter;
  }

  .explore {
    display: inline-block;
    line-height: 60px;
    padding: 0px 30px;
    background: #DC7725;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .play {
      -webkit-transition:  2s;
      transition:  2s;
      width: 30px;
      padding-top: 5px;
      padding-bottom: 10px;
  }

  .play:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  /*INFO BAR*/

  .info-wrap {
    background-image: url("../img/info.jpg");
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 80px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .info {
    display: flex;
    justify-content: space-around;
  }

  .info a {
    margin-top: 34px;
    padding: 0;
  }

  /*IMAGE GALLERY*/

  .gallery {
    height: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
  }

  .panel {
    height: 400px;
    flex: auto;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .raft {
    background-image: url("../img/raft.jpg");
    flex-basis: 50%;
  }
  .base {
    background-image: url("../img/base.jpg");
    flex-basis: 25%;
  }
  .backpacking {
    background-image: url("../img/backpacking.jpg");
    flex-basis: 25%;
  }
  .canoe {
    background-image: url("../img/canoe.jpg");
    flex-basis: 25%;
  }
  .photo {
    background-image: url("../img/photo.jpg");
    flex-basis: 25%;
  }
  .custom {
    background-image: url("../img/custom.jpg");
    flex-basis: 50%;
  }

  .orange-border {
    position: absolute;
    top: 300px;
    left: 25px;
    background: #dc7725;
    height: 5px;
    width: 40px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 22px;
    position: absolute;
    top: 300px;
    left: 25px;
  }

  .panel img {
    -webkit-transition: background-color 2s;
    transition: background color 2s;
    transform: scale(1);
    transition: transform 1s ease-in-out;
    position: absolute;
    top: 150px;
    left: 125px;
    background-color: black;
    opacity: 0.5;
    border-radius: 50%;
  }

  .panel img:hover{
    background-color: green;
    transform: scale(2);
  }

  .panel .bigger {
    position: absolute;
    top: 150px;
    left: 275px;
  }
  .hamburger{
    display: none;
  }
}


/*MOBILE SCREEN*/
@media only screen and (min-width: 770px) and (max-width: 949px){
/*//TOP HERO SPLASH//*/

  .hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
  }

  .navbar {
    display: none;
  }

  .logo {
    position: absolute;
    top: 40px;
    left: 80px;
    font-family: 'Source Serif Pro', serif;
    font-size: 1.4em;
    display: flex;
    justify-content: flex-start;
  }

  .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 125px;
  }

  .title h5 {
    margin-top: 10px;
    margin-bottom: 50px;
    letter-spacing: 0.3em;
    font-size: 17px;
    font-weight: lighter;
  }

  .title h1 {
    font-size: 80px;
    position: relative;
  }

  .explore {
    display: none;
  }

  .play {
      -webkit-transition:  2s;
      transition:  2s
      width: 30px;
      padding: 30px 0px 30px 10px;
  }

  .play:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  /*INFO BAR*/

  .info-wrap {
    display: none;
  }

  /*IMAGE GALLERY*/

  .gallery {
    height: 1600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
  }

  .panel {
    height: 420px;
    flex: auto;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .raft {
    background-image: url("../img/raft.jpg");
    flex-basis: 100%;
  }
  .base {
    background-image: url("../img/base.jpg");
    flex-basis: 50%;
  }
  .backpacking {
    background-image: url("../img/backpacking.jpg");
    flex-basis: 50%;
  }
  .canoe {
    background-image: url("../img/canoe.jpg");
    flex-basis: 50%;
  }
  .photo {
    background-image: url("../img/photo.jpg");
    flex-basis: 50%;
  }
  .custom {
    background-image: url("../img/custom.jpg");
    flex-basis: 100%;
  }

  .orange-border {
    position: absolute;
    top: 300px;
    left: 25px;
    background: #dc7725;
    height: 5px;
    width: 40px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 22px;
    position: absolute;
    top: 300px;
    left: 25px;
  }

  .panel img {
    -webkit-transition: background-color 2s;
    transition: background color 2s;
    transform: scale(1);
    transition: transform 1s ease-in-out;
    position: absolute;
    top: 150px;
    left: 125px;
    background-color: black;
    opacity: 0.4;
    border-radius: 50%;
  }

  .panel img:hover{
    background-color: green;
    transform: scale(2);

  }

  .panel .bigger {
    position: absolute;
    top: 150px;
    left: 350px;
  }
  .hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  }

}

@media only screen and (max-width: 769px){
/*//TOP HERO SPLASH//*/

  .hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
  }

  .navbar {
    display: none;
  }

  .logo {
    position: absolute;
    top: 40px;
    left: 80px;
    font-family: 'Source Serif Pro', serif;
    font-size: 1.4em;
    display: flex;
    justify-content: flex-start;
  }

  .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 125px;
  }

  .title h5 {
    margin-top: 10px;
    margin-bottom: 50px;
    letter-spacing: 0.3em;
    font-size: 17px;
    font-weight: lighter;
  }

  .title h1 {
    font-size: 80px;
    position: relative;
  }

  .explore {
    display: none;
  }

  .play {
      -webkit-transition:  2s;
      transition:  2s
      width: 30px;
      padding: 30px 0px 30px 10px;
  }

  .play:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  /*INFO BAR*/

  .info-wrap {
    display: none;
  }

  /*IMAGE GALLERY*/

  .gallery {
    background-color: #D1D1C9;
    height: 2045px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
  }

  .panel {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    height: 290px;
    flex: auto;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .raft {
    background-image: url("../img/raft.jpg");
    flex-basis: 100%;
    margin-top: 35px;
  }
  .base {
    background-image: url("../img/base.jpg");
    flex-basis: 100%;
  }
  .backpacking {
    background-image: url("../img/backpacking.jpg");
    flex-basis: 100%;
  }
  .canoe {
    background-image: url("../img/canoe.jpg");
    flex-basis: 100%;
  }
  .photo {
    background-image: url("../img/photo.jpg");
    flex-basis: 100%;
  }
  .custom {
    background-image: url("../img/custom.jpg");
    flex-basis: 100%;
  }

  .orange-border {
    position: absolute;
    top: 200px;
    left: 25px;
    background: #dc7725;
    height: 5px;
    width: 40px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 22px;
    position: absolute;
    top: 200px;
    left: 25px;
  }

  .panel img {
    -webkit-transition: background-color 2s;
    transition: background color 2s;
    transform: scale(1);
    transition: transform 2s ease-in-out;
    position: absolute;
    top: 75px;
    left: 250px;
    background-color: black;
    opacity: 0.4;
    border-radius: 50%;
  }

  .panel img:hover{
    background-color: green;
    transform: scale(2);

  }

  .panel .bigger {
    position: absolute;
    top: 75px;
    left: 250px;
  }

    .hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }


}
